@page
@model ChallengeSem22019.Pages.PaidGames.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Team1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Team2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].TimeOfDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Payer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].CourtFees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtFees)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
